.image{
    margin: 1rem auto;
    flex-basis: 20%;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 3.5px 3px rgb(66, 107, 154);
}
.image-img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
}
.image-img:hover{
    border: 4px solid black;
    
}