.image-defaults-wrapper{
    display: flex;
    background-color: rgb(4,46,94);
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 20px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.div-image{
    height: 80%;
    width: 40%;
    padding: 10px;
}
.div-image img{
    height: 100%;
    width: 100%;
    box-shadow: 1.5px 1.5px 3.5px 3px rgb(66, 107, 154);
    border-radius: 10px;
}
.div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
    padding: 10px;
}
.title{
    font-size: 34px;
    color: white;
    font-weight: 900;
}
.description{
    color: white;
    font-size: 20px;
}
